<div class="container-sm pt-5" style="width: 700px">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center my-3 text-primary">Edit Product</h1>
            </div>
            <div class="card-body">

                <form action="/admin/edit/{{products._id}}" method="POST" class="needs-validation">
                    <div class="mb-3">
                        <label for="sku" class="text-primary fw-bold form-label">SKU</label>
                        <input type="text" class="form-control" id="sku" name="sku" value="{{products.sku}}" required>
                        <div class="invalid-feedback">Please provide a valid SKU.</div>
                    </div>

                    <div class="mb-3">
                        <label for="name"  class="text-primary fw-bold form-label">Product Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{products.name}}"
                               required>
                        <div class="invalid-feedback">Please provide product name.</div>
                    </div>

                    <div class="mb-3">
                        <label for="description"  class="text-primary fw-bold form-label">Product Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                               value="{{products.description}}" required>
                        <div class="invalid-feedback">Please provide product description</div>
                    </div>

                    <div class="mb-3">
                        <label for="price"  class="text-primary fw-bold form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" min="1"
                               value="{{products.price}}" required>
                        <div class="invalid-feedback">Please provide product price.</div>
                    </div>

                    <div class="mb-3">
                        <label for="image"  class="text-primary fw-bold form-label">Image</label>
                        <div class="d-flex justify-content-center">
                            <img src="{{products.image}}" width="200px" alt="Product Image">
                        </div>
                        <input type="url" class="form-control" id="image" name="image" value="{{products.image}}"
                               required>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-2">Edit Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
