<div class="container-fluid">
    <div class="row mt-4">
        <h1 class="text-center text-primary"> ATN Toy Store</h1>
        <div>
            <button class="btn btn-outline-secondary dropdown-toggle align-items-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sort
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/sortprice/asc">Sort by price ascending</a></li>
                <li><a class="dropdown-item" href="/sortprice/dsc">Sort by price descending</a></li>
            </ul>
        </div>
        {{#each products}}
            <div class="col-md-3 my-3">
                <div class="card border-1">
                    <div class="card-body text-center">
                        <img src="{{image}}" alt="Product Image" class="img-fluid mb-3">
                        <a class="fs-6 text-center grey-text text-decoration-none">{{category_id}}</a>
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                        <h5 class="text-success">$ {{price}}</h5>
                    </div>
                    <div class="card-footer text-center border-0">
                        <a href="/detail/{{_id}}" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping me-2"></i> View
                            Detail
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>



